.Terminal {
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.Terminal__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 16px;
}

.Terminal__text {
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  color: white;
  margin: 0;
}

.Terminal__cursor {
  display: inline-block;
  height: 2.25rem;
  width: 1rem;
  background-color: rgb(98, 98, 98);
}

.Terminal__container .animating {
  animation: Terminal__cursor-color 2s infinite;
}

@keyframes Terminal__cursor-color {
  0% {
    background-color: rgb(98, 98, 98);
  }
  20% {
    background-color: rgb(49, 49, 49);
  }
  40% {
    background-color: rgb(49, 49, 49);
  }
  60% {
    background-color: rgb(98, 98, 98);
  }
}
